@import url(https://fonts.googleapis.com/css?family=Titillium+Web|Baloo+Bhai&display=swap);@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@-webkit-keyframes flicker {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.8;
  }
}

@keyframes flicker {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.8;
  }
}

html,
body,
#vue-app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f2e121;
  font-family: "Titillium Web", sans-serif;
  font-size: 1em;
  overflow: hidden;
}

#vue-app {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.infomation {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.infomation .billboard {
  position: relative;
  font-size: 3em;
  margin-top: 40px;
}

.infomation .watt {
  position: relative;
  display: -webkit-box;
  display: flex;
  top: -33px;
  left: -30px;
}

.infomation .watt .spark {
  position: absolute;
  -webkit-animation: flicker 0.6s linear infinite;
          animation: flicker 0.6s linear infinite;
  z-index: 1;
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 30px 1px red;
  margin: 6px;
}

.infomation .watt .spark:nth-child(1) {
  top: 2px;
  left: 14px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.infomation .watt .spark:nth-child(2) {
  top: 8px;
  left: 29px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.infomation .watt .spark:nth-child(3) {
  top: 1px;
  left: 7px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(4) {
  top: 1px;
  left: 54px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(5) {
  top: 4px;
  left: 57px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.infomation .watt .spark:nth-child(6) {
  top: 3px;
  left: 57px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.infomation .watt .spark:nth-child(7) {
  top: 7px;
  left: 37px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(8) {
  top: 6px;
  left: 5px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(9) {
  top: 10px;
  left: 44px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(10) {
  top: 6px;
  left: 49px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(11) {
  top: 6px;
  left: 43px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(12) {
  top: 2px;
  left: 24px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.infomation .watt .spark:nth-child(13) {
  top: 2px;
  left: 39px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(14) {
  top: 2px;
  left: 40px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.infomation .watt .spark:nth-child(15) {
  top: 10px;
  left: 2px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(16) {
  top: 7px;
  left: 53px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(17) {
  top: 1px;
  left: 27px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(18) {
  top: 5px;
  left: 28px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(19) {
  top: 2px;
  left: 28px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.infomation .watt .spark:nth-child(20) {
  top: 1px;
  left: 47px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(21) {
  top: 9px;
  left: 21px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(22) {
  top: 8px;
  left: 52px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(23) {
  top: 8px;
  left: 49px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.infomation .watt .spark:nth-child(24) {
  top: 2px;
  left: 39px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.infomation .watt .spark:nth-child(25) {
  top: 4px;
  left: 14px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.infomation .watt .spark:nth-child(26) {
  top: 6px;
  left: 44px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.infomation .watt .spark:nth-child(27) {
  top: 7px;
  left: 11px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(28) {
  top: 5px;
  left: 58px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.infomation .watt .spark:nth-child(29) {
  top: 9px;
  left: 20px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(30) {
  top: 5px;
  left: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(31) {
  top: 6px;
  left: 2px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.infomation .watt .spark:nth-child(32) {
  top: 5px;
  left: 9px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.infomation .watt .spark:nth-child(33) {
  top: 7px;
  left: 32px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(34) {
  top: 5px;
  left: 41px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(35) {
  top: 9px;
  left: 4px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(36) {
  top: 3px;
  left: 49px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.infomation .watt .spark:nth-child(37) {
  top: 7px;
  left: 36px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(38) {
  top: 2px;
  left: 20px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(39) {
  top: 2px;
  left: 13px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.infomation .watt .spark:nth-child(40) {
  top: 1px;
  left: 35px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(41) {
  top: 2px;
  left: 60px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.infomation .watt .spark:nth-child(42) {
  top: 5px;
  left: 30px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(43) {
  top: 10px;
  left: 42px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.infomation .watt .spark:nth-child(44) {
  top: 3px;
  left: 11px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.infomation .watt .spark:nth-child(45) {
  top: 1px;
  left: 7px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.infomation .watt .spark:nth-child(46) {
  top: 5px;
  left: 35px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(47) {
  top: 1px;
  left: 16px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.infomation .watt .spark:nth-child(48) {
  top: 5px;
  left: 7px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .watt .spark:nth-child(49) {
  top: 5px;
  left: 57px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.infomation .watt .spark:nth-child(50) {
  top: 10px;
  left: 55px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.infomation .wheel {
  -webkit-animation: rotation 4s infinite linear;
          animation: rotation 4s infinite linear;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 98%;
  height: 98%;
  border-radius: 50%;
}

.infomation .tire {
  width: 400px;
  height: 400px;
  background-color: #000;
}

.infomation .tire .outer-tire {
  width: 96%;
  height: 96%;
  background-color: #1e1e1e;
}

.infomation .tire .outer-tire .piezo-units {
  width: 96%;
  height: 96%;
  background-color: #f2e121;
}

.infomation .tire .outer-tire .piezo-units .inner-tire {
  width: 98%;
  height: 98%;
  background-color: #1e1e1e;
}

.infomation .tire .outer-tire .piezo-units .inner-tire .rim {
  width: 94%;
  height: 94%;
  background-color: #5e5e5e;
}

.infomation .tire .outer-tire .piezo-units .inner-tire .rim .mask {
  width: 40%;
  height: 40%;
  -webkit-clip-path: circle(60px at center);
          clip-path: circle(60px at center);
}

.infomation .tire .outer-tire .piezo-units .inner-tire .rim .mask .crashtest {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.infomation .tire .outer-tire .piezo-units .inner-tire .rim .mask .crashtest .square {
  width: 50%;
  height: 50%;
}

.infomation .tire .outer-tire .piezo-units .inner-tire .rim .mask .crashtest .square.black {
  background-color: #000;
}

.infomation .tire .outer-tire .piezo-units .inner-tire .rim .mask .crashtest .square.yellow {
  background-color: #f2e121;
}

