$yellow: #f2e121;
$scale-factor: 0.2;

@import url('https://fonts.googleapis.com/css?family=Titillium+Web|Baloo+Bhai&display=swap');

@keyframes rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

@keyframes flicker {
    from { opacity: 0; }
    to { opacity: .8 }
}

html, body, #vue-app {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: $yellow;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1em;
    overflow: hidden;
}

#vue-app {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infomation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .billboard {
        position: relative;
        font-size: 1.3em;
        margin-top: 40px;
    }

    .watt {
        position: relative;
        display: flex;
        top: -23px;
        left: -40px;

        .spark {
            position: absolute;
            animation: flicker .6s linear infinite;
            z-index: 1;
            width: 7px;
            height: 7px;
            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0 0 30px 1px red;
            margin: 6px;

            @for $i from 1 through 50 {
                &:nth-child(#{$i}) {
                    top: random(10) + px;
                    left: random(60) + px;
                    animation-delay: random(2) + s;
                }
            }
        }
    }

    .wheel {
        animation: rotation 4s infinite linear;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 98%;
        height: 98%;
        border-radius: 50%;
    }

    .tire {
        width: 200px;
        height: 200px;
        background-color: #000;

        .outer-tire {
            width: 96%;
            height: 96%;
            background-color: #1e1e1e;

            .piezo-units {
                width: 96%;
                height: 96%;
                background-color: $yellow;

                .inner-tire {
                    width: 98%;
                    height: 98%;
                    background-color: #1e1e1e;

                    .rim {
                        width: 94%;
                        height: 94%;
                        background-color: #5e5e5e;

                        .mask {
                            width: 40%;
                            height: 40%;
                            clip-path: circle(45% at center);

                            .crashtest {
                                display: flex;
                                flex-wrap: wrap;
                                width: 100%;
                                height: 100%;
    
                                .square {
                                    width: 50%;
                                    height: 50%;
    
                                    &.black {
                                        background-color: #000;
                                    }
    
                                    &.yellow {
                                        background-color: $yellow;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .infomation {
        .billboard {
            font-size: 2.3em;
        }
    
        .tire {
            width: 400px;
            height: 400px;
        }

        .watt {
            top: -33px;
            left: -30px;
        }
    }
  }